@import "variables";

/*--------------------------------------------------
Base
--------------------------------------------------*/
body {
    background: #dadadb;
    font-family: Avenir, sans-serif;
    font-size: 18px;
    line-height: 1.7;
    padding: 4rem;
}

a {
    text-decoration: none;
    outline: none;

    &:hover,
    &:focus,
    &:active,
    &:focus:active {
        text-decoration: none;
        outline: none;
    }
}


/*--------------------------------------------------
Canvas
--------------------------------------------------*/
#scene {
    background: transparent;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: background .6s ease-in-out;
}

