@import "variables";

/*--------------------------------------------------
Base
--------------------------------------------------*/

body {
    background: #dadadb;
    font-family: Avenir, sans-serif;
    font-size: 18px;
    line-height: 1.7;
    padding: 4rem;
    height: 100vh;
}

a {
    text-decoration: none;
    outline: none;
    &:hover,
    &:focus,
    &:active,
    &:focus:active {
        text-decoration: none;
        outline: none;
    }
}

.resizing {
    *,
    *:before,
    *:after {
        transition: none !important;
    }
}

/*--------------------------------------------------
Canvas
--------------------------------------------------*/

#scene {
    background: transparent;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
<<<<<<< HEAD
    transition: background .6s ease-in-out;
=======
    transition: opacity .8s $bezier;
>>>>>>> c80f63423fcf9794e39932cdc0b9d9b9baf054ab
}

[scene] {
    div {
        display: none!important;
    }
}

.dg {
    z-index: 10000!important;
    display: none!important;
}

.gui-active .dg {
    display: block!important;
}


/*--------------------------------------------------
Smooth Scrollbar
--------------------------------------------------*/

.scrollbar-thumb,
.scrollbar-track-y {
    width: 4px !important;
    opacity: .5;
}