@import "variables";


/*--------------------------------------------------
Avenir
--------------------------------------------------*/
@font-face {
    font-family: 'Avenir';
    src: url('#{$font-path}Avenir-Roman.eot');
    src: url('#{$font-path}Avenir-Roman.eot?#iefix') format('embedded-opentype'), url('#{$font-path}Avenir-Roman.woff2') format('woff2'), url('#{$font-path}Avenir-Roman.woff') format('woff'), url('#{$font-path}Avenir-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/*--------------------------------------------------
Didot
--------------------------------------------------*/
@font-face {
    font-family: 'Didot';
    src: url('#{$font-path}Didot.eot');
    src: url('#{$font-path}Didot.eot?#iefix') format('embedded-opentype'), url('#{$font-path}Didot.woff2') format('woff2'), url('#{$font-path}Didot.woff') format('woff'), url('#{$font-path}Didot.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Didot';
    src: url('#{$font-path}Didot-Bold.eot');
    src: url('#{$font-path}Didot-Bold.eot?#iefix') format('embedded-opentype'), url('#{$font-path}Didot-Bold.woff2') format('woff2'), url('#{$font-path}Didot-Bold.woff') format('woff'), url('#{$font-path}Didot-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Didot';
    src: url('#{$font-path}Didot-Italic.eot');
    src: url('#{$font-path}Didot-Italic.eot?#iefix') format('embedded-opentype'), url('#{$font-path}Didot-Italic.woff2') format('woff2'), url('#{$font-path}Didot-Italic.woff') format('woff'), url('#{$font-path}Didot-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
