@import "variables";

/*--------------------------------------------------
Footer
--------------------------------------------------*/
.footer {
    position: fixed;
    z-index: 100;
    height: auto;
    font-size: 16px;
    margin: 0 50px 25px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include sm {
        margin: 0 20px 15px;
    }

    @include xxs {
        margin-bottom: 10px;
    }

    &__copy {
        color: $black-tit;
        opacity: .7;
        transition: color .5s ease-in-out;

        @include sm {
            font-size: 12px;
        }

        @include xxs {
            font-size: 0;
        }

        .dark-bg & {
            color: #fff;
        }

        @include xs {
            display: none;
        }
    }

    &__copy--mobile {
        display: none;

        a {
            color: $gold;
        }

        @include xs {
            display: block;
        }

        @include xxs {
            font-size: 13px;
        }
    }

    .logo-fondazione-rossini {
        position: relative;
        z-index: 1;

        @include xs {
            overflow: hidden;
            width: 50px;
            height: 30px;
        }

        img {
            position: absolute;
            z-index: 1;
            right: 0;
            bottom: -15px;
            width: 220px;
            height: auto;
            transition: opacity .5s ease-in-out;

            @include sm {
                width: 150px;
                bottom: -10px;
            }

            @include xs {
                width: 190px;
                bottom: 0;
            }

            &.dark-logo {
                opacity: 1;
            }

            &.light-logo {
                opacity: 0;
            }

            .dark-bg & {
                &.dark-logo {
                    opacity: 0;
                }

                &.light-logo {
                    opacity: 1;
                }
            }
        }
    }
}