@import "variables";

/*--------------------------------------------------
Nav
--------------------------------------------------*/

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    z-index: 0;
    transform: scale(0.8);
    transition: opacity .8s $bezier, z-index 1s linear .9s, transform .8s $bezier;
    .open-nav & {
        z-index: 150;
        opacity: 1;
        pointer-events: all;
        transform: scale(1);
        transition: opacity .8s $bezier, z-index 0s linear 0s, transform .8s $bezier;
    }
    .main-nav {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 100vh;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: left .8s $bezier;
        padding: 60px 0 0;
        width: 30%;
        line-height: 1.2;
        @include lg {
            width: 40%;
        }
        @include sm {
            width: 100%;
        }
        &__scroll {
            max-height: calc(100vh - 70px);
            overflow-y: auto;
            padding: 0 70px 70px;
            @include xs {
                padding: 0 20px 70px;
            }
            &:before,
            &:after {
                content: '';
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                width: 100%;
                height: 30px;
                background: linear-gradient(to bottom, #fff, rgba(255, 255, 255, .0));
            }
            &:after {
                top: auto;
                bottom: 0;
                background: linear-gradient(to top, #fff, rgba(255, 255, 255, .0));
            }
            .scroll-content {
                padding: 50px 0;
            }
            .logo {
                width: 220px;
                height: auto;
                margin-bottom: 25px;
                opacity: 0;
                transform: translate3d(0, -20px, 0);
                transition: all .5s $bezier .3s;
                .open-nav & {
                    opacity: 1;
                    transform: translate(0);
                }
                @include lg {
                    width: 180px;
                }
            }
            ul {
                transform: translateZ(0);
                >li {
                    padding-bottom: 20px;
                    transition: all .5s $bezier;
                    transform: translateY(-20px);
                    opacity: 0;
                    @for $i from 0 to 10 {
                        &:nth-child(#{$i}) {
                            transition-delay: .3s + 0.05s * $i;
                        }
                    }
                    .open-nav & {
                        transform: translate(0);
                        opacity: 1;
                    }
                    >a {
                        font-family: Didot, serif;
                        color: $gold;
                        font-size: 27px;
                        @include lg {
                            font-size: 20px;
                        }
                    }
                    >ul {
                        position: relative;
                        z-index: 1;
                        padding-top: 38px;
                        padding-bottom: 25px;
                        display: none;
                        transform: translateZ(0);
                        margin-bottom: -10px;
                        &:before,
                        &:after {
                            content: '';
                            position: absolute;
                            z-index: 1;
                            left: 50%;
                            top: 15px;
                            width: 30px;
                            height: 1px;
                            transform: translateX(-50%);
                            background: $gold;
                        }
                        &:after {
                            top: auto;
                            bottom: 15px;
                        }
                        >li {
                            padding-bottom: 15px;
                            transform: translateZ(0);
                            >a {
                                font-family: Avenir, sans-serif;
                                color: $black-tit;
                                opacity: .5;
                                font-size: 20px;
                                transition: opacity .2s ease-in-out;
                                @include lg {
                                    font-size: 18px;
                                }
                                &:hover,
                                &.active {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
            .main-nav__sub-nav {
                display: none;
                position: relative;
                z-index: 1;
                padding: 36px 0 25px;
                @media (min-width: 1025px) {
                    display: none !important;
                }
                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    z-index: 1;
                    left: 50%;
                    top: 15px;
                    width: 20px;
                    height: 1px;
                    transform: translateX(-50%);
                    background: $gold;
                }
                &:after {
                    top: auto;
                    bottom: 15px;
                }
                a {
                    color: $black-tit;
                    display: block;
                    padding: 0 0 10px;
                    font-size: 15px;
                    transition: opacity .3s ease-in-out;
                    img {
                        display: none;
                    }
                }
            }
            .socials {
                margin-top: 20px;
                transform: translate3d(0, -20px, 0);
                opacity: 0;
                transition: all .5s $bezier .7s;
                @include xs {
                    transition-delay: .8s;
                }
                .open-nav & {
                    opacity: 1;
                    transform: translateZ(0);
                }
                a {
                    display: inline-block;
                    margin: 0 10px;
                    svg {
                        width: 20px;
                        height: 20px;
                        fill: rgba($black-tit, .5);
                        transition: fill .2s ease-in-out;
                    }
                    &:hover {
                        svg {
                            fill: $violet;
                        }
                    }
                }
            }
            .extra-mobile {
                display: none;
                @include xs {
                    display: block;
                    padding: 30px;
                    font-size: 13px;
                    line-height: 1.4;
                    color: rgba(0, 0, 0, .7);
                    transform: translate3d(0, -20px, 0);
                    opacity: 0;
                    transition: all .5s $bezier .7s;
                    .open-nav & {
                        opacity: 1;
                        transform: translateZ(0);
                    }
                    a {
                        margin-top: 5px;
                        color: $gold;
                        display: block;
                    }
                }
            }
        }
    }
    .sub-nav {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        display: flex;
        min-height: 100vh;
        overflow: hidden;
        width: 0;
        transition: width .8s $bezier;
        a {
            flex: 10 0 33.333%;
            max-width: 33.333%;
            display: flex;
            position: relative;
            z-index: 1;
            overflow: hidden;
            justify-content: center;
            align-items: center;
            color: $black-tit;
            img {
                position: absolute;
                z-index: 1;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -45%);
                min-width: 100%;
                min-height: 100%;
                width: auto;
                height: auto;
                opacity: 0;
                transition: all .6s $bezier;
            }
            .paragraph-name {
                flex: 1 1 100%;
                position: relative;
                z-index: 2;
                background: #fff;
                text-align: center;
                padding: 20px 20px;
                opacity: 0;
                transform: translateY(20px);
                transition: all .5s $bezier 0s;
                span {
                    display: inline-block;
                    position: relative;
                    z-index: 1;
                    &:before {
                        content: '';
                        position: absolute;
                        z-index: 1;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background: $violet;
                        transform: scaleX(0);
                        transition: transform .6s $bezier;
                    }
                }
            }
            &:hover {
                img {}
                span {
                    &:before {
                        transform: scaleX(1) !important;
                    }
                }
            }
        }
    }
    &.sub-nav-active {
        @media (min-width: 1025px) {
            .main-nav {
                left: 15%;
                @include lg {
                    left: 20%;
                }
            }
            .sub-nav {
                width: 70%;
                @include lg {
                    width: 60%;
                }
                &.switch {
                    a {
                        img {
                            opacity: 0.15;
                            transition-duration: 1.2s;
                            transform: translate(-50%, -50%);
                        }
                        .paragraph-name {
                            opacity: 1;
                            transition-duration: 1.4s;
                            transform: translateY(0);
                        }
                        @for $i from 0 to 5 {
                            &:nth-child(#{$i}) {
                                img {
                                    transition-delay: .1s + 0.1s * $i;
                                }
                                .paragraph-name {
                                    transition-delay: .2s + 0.1s * $i;
                                }
                            }
                        }
                    }
                }
                &.switched {
                    a {
                        img {
                            transform: translate3d(-50%, -50%, 0);
                            transition: all .4s ease-in-out !important;
                        }
                        &:hover {
                            img {
                                transform: translate3d(-50%, -50%, 0);
                                opacity: 1 !important;
                            }
                        }
                    }
                }
            }
        }
    }
}