@import "variables";

/*--------------------------------------------------
Tunnel
--------------------------------------------------*/
.tunnel {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: all 1.4s $bezier 0.8s;
}


/*--------------------------------------------------
Slick
--------------------------------------------------*/
.slick-list {
    .slick-loading & {
        background: #fff;
    }

    /* Arrows */
    .slick-prev,
    .slick-next {
        position: absolute;
        display: block;
        height: 20px;
        width: 20px;
        line-height: 0px;
        font-size: 0px;
        cursor: pointer;
        background: transparent;
        color: transparent;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        padding: 0;
        border: none;
        outline: none;

        &:hover, &:focus {
            outline: none;
            background: transparent;
            color: transparent;
        }


        &:before {
            font-size: 20px;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }

    .slick-prev {
        left: -25px;

        [dir="rtl"] & {
            left: auto;
            right: -25px;
        }

        &:before {
            content: 'prev';
        }
    }

    .slick-next {
        right: -25px;

        [dir="rtl"] & {
            left: -25px;
            right: auto;
        }

        &:before {
            content: 'next';
        }
    }

    /* Dots */

    .slick-dotted.slick-slider {
        margin-bottom: 30px;
    }

    .slick-dots {
        position: absolute;
        bottom: -25px;
        list-style: none;
        display: block;
        text-align: center;
        padding: 0;
        margin: 0;
        width: 100%;

        li {
            position: relative;
            display: inline-block;
            height: 20px;
            width: 20px;
            margin: 0 5px;
            padding: 0;
            cursor: pointer;

            button {
                border: 0;
                background: transparent;
                display: block;
                height: 20px;
                width: 20px;
                outline: none;
                line-height: 0px;
                font-size: 0px;
                color: transparent;
                padding: 5px;
                cursor: pointer;

                &:hover, &:focus {
                    outline: none;
                }

                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: '';
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                    text-align: center;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }
            }

        }
    }
}


/*--------------------------------------------------
Tunnel Background
--------------------------------------------------*/
.tunnel-bg {
    background: #e4e4e4;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .item {
        position: relative;
        z-index: 1;
        height: 100vh;

        img {
            position: absolute;
            z-index: 1;
            top: 0;
            left: -2.5%;
            right: -2.5%;
            bottom: 0;
            margin: auto;
            min-width: 105%;
            min-height: 100%;
            width: auto;
            height: auto;
        }
    }
}


/*--------------------------------------------------
Tunnel Year
--------------------------------------------------*/
.tunnel-year {
    position: fixed;
    z-index: 10;
    color: rgba($gold, 0.45);
    font-family: Didot, serif;
    font-weight: bold;
    font-size: 17vw;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    left: 0;
    top: 6%;
    pointer-events: none;
    line-height: 1;
    transition: all 1.4s $bezier;

    @include lg {
        top: 7%;
    }

    @include md {
        top: 7%;
    }

    @include sm {
        font-size: 15vw;
        top: 8%;
    }

    @include xs {
        font-size: 14vw;
        top: 8%;
    }

    @include xxs {
        top: 6%;
    }

    & > div {
        display: inline-block;
        transition: all 1.4s $bezier;
    }

    &__to {
        &:before {
            content: '-';
            display: inline-block;
            color: rgba($gold, 0.45);
            margin: 0 20px 0 -40px;
            transition: all 1.4s $bezier .1s;
            text-indent: 28px;
            font-size: 80%;
        }
    }
}

.one-year {
    top: 8%;

    .tunnel-year__from {
        transform: translate(50%) scale(1.2);
        text-indent: 50px;
    }

    .tunnel-year__to {
        opacity: 0;
        transform: scale(0);

        &:before {
            font-size: 80%;
            text-indent: 0;
        }
    }
}


/*--------------------------------------------------
Tunnel Nav
--------------------------------------------------*/
.tunnel-nav {
    position: fixed;
    z-index: 100;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity .8s $bezier;
}


/*--------------------------------------------------
Tunnel Slick
--------------------------------------------------*/
.tunnel-slick {
    height: 100vh;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    .tunnel-slick__item {
        position: relative;
        z-index: 1;
        height: 100vh;

        .cta {
            margin-top: 20px;
            transform: translateY(50%);
            opacity: 0;
            transition: all 1.2s $bezier;

            &.active {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    .tunnel-slick__header {
        position: absolute;
        left: 5%;
        top: 45%;
        max-width: 50%;
        color: $black-tit;
        transition: all .2s $bezier .8s;

        .dark-bg & {
            color: #fff;
        }
    }
}


/* Tunnel 0 */
#tunnel-0 {

    .intro {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        img {
            width: 400px;
            height: auto;
            margin-bottom: 30px;
        }
    }
}

/* Tunnel 1 */
#tunnel-1 {

    .tunnel-slick__header {
        left: 45%;
        top: 45%;
        max-width: 55%;
        color: $black-tit;
    }
}

/* Tunnel 2 */
#tunnel-2 {

    .tunnel-slick__header {
        left: 5%;
        top: 45%;
        max-width: 50%;
    }
}

/* Tunnel 3 */
#tunnel-3 {

    .tunnel-slick__header {
        left: 60%;
        top: 40%;
        max-width: 40%;
        color: #fff;
    }
}